body {
  overflow: hidden;
  -moz-transition: background 1s linear;
  -webkit-transition: background 1s linear;
  transition: background 1s linear;
}

body.dark {
  background: #000;
  color: #fff;
}

.pyro {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pyro.inactive {
  display: none;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 236px -15.6666666667px #22ff00, -170px -38.6666666667px #91ff00, -189px -193.6666666667px #ff008c, 60px -231.6666666667px #ff4800, -167px -25.6666666667px #5e00ff, -25px -380.6666666667px #2bff00, 111px -355.6666666667px #00ffbf, -185px 74.3333333333px #00ff6a, -100px -408.6666666667px #ff1e00, 146px -220.6666666667px #00ff2f, -195px -282.6666666667px #ff007b, -158px -63.6666666667px #0051ff, -167px -381.6666666667px #ff6f00, 110px -242.6666666667px #ffea00, 16px -298.6666666667px #ff8400, -47px -158.6666666667px #ff6f00, -8px -60.6666666667px #ff006a, -144px -155.6666666667px #00ffbf, 15px -171.6666666667px #5900ff, 160px -352.6666666667px #ffcc00, 118px -160.6666666667px #00ff40, 116px -148.6666666667px #00ff4d, -198px -36.6666666667px #ff9100, -78px -263.6666666667px #00ff7b, -6px -177.6666666667px #ffb700, 120px -312.6666666667px #00ffa2, 43px -393.6666666667px #b7ff00, 61px 66.3333333333px #a6ff00, -12px 53.3333333333px #8c00ff, 193px -3.6666666667px #00fff2, -57px -328.6666666667px #ff2b00, 156px -107.6666666667px #8000ff, 74px -333.6666666667px #00ff4d, 21px -54.6666666667px #ff00e1, 32px -319.6666666667px #00fffb, 71px -269.6666666667px #a600ff, 49px -380.6666666667px #00f2ff, -50px 17.3333333333px #00b7ff, 106px 75.3333333333px #ff003c, 52px -92.6666666667px #ae00ff, 155px -95.6666666667px #84ff00, 28px -128.6666666667px #4800ff, -172px -145.6666666667px #00ff22, 53px -12.6666666667px #00ffbf, 177px -86.6666666667px #00ffd0, 153px -269.6666666667px #d500ff, 62px -170.6666666667px #5900ff, 23px -215.6666666667px #ffee00, 42px -252.6666666667px yellow, -249px -279.6666666667px #f200ff, 126px 26.3333333333px #ff00a6;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 236px -15.6666666667px #22ff00, -170px -38.6666666667px #91ff00, -189px -193.6666666667px #ff008c, 60px -231.6666666667px #ff4800, -167px -25.6666666667px #5e00ff, -25px -380.6666666667px #2bff00, 111px -355.6666666667px #00ffbf, -185px 74.3333333333px #00ff6a, -100px -408.6666666667px #ff1e00, 146px -220.6666666667px #00ff2f, -195px -282.6666666667px #ff007b, -158px -63.6666666667px #0051ff, -167px -381.6666666667px #ff6f00, 110px -242.6666666667px #ffea00, 16px -298.6666666667px #ff8400, -47px -158.6666666667px #ff6f00, -8px -60.6666666667px #ff006a, -144px -155.6666666667px #00ffbf, 15px -171.6666666667px #5900ff, 160px -352.6666666667px #ffcc00, 118px -160.6666666667px #00ff40, 116px -148.6666666667px #00ff4d, -198px -36.6666666667px #ff9100, -78px -263.6666666667px #00ff7b, -6px -177.6666666667px #ffb700, 120px -312.6666666667px #00ffa2, 43px -393.6666666667px #b7ff00, 61px 66.3333333333px #a6ff00, -12px 53.3333333333px #8c00ff, 193px -3.6666666667px #00fff2, -57px -328.6666666667px #ff2b00, 156px -107.6666666667px #8000ff, 74px -333.6666666667px #00ff4d, 21px -54.6666666667px #ff00e1, 32px -319.6666666667px #00fffb, 71px -269.6666666667px #a600ff, 49px -380.6666666667px #00f2ff, -50px 17.3333333333px #00b7ff, 106px 75.3333333333px #ff003c, 52px -92.6666666667px #ae00ff, 155px -95.6666666667px #84ff00, 28px -128.6666666667px #4800ff, -172px -145.6666666667px #00ff22, 53px -12.6666666667px #00ffbf, 177px -86.6666666667px #00ffd0, 153px -269.6666666667px #d500ff, 62px -170.6666666667px #5900ff, 23px -215.6666666667px #ffee00, 42px -252.6666666667px yellow, -249px -279.6666666667px #f200ff, 126px 26.3333333333px #ff00a6;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 236px -15.6666666667px #22ff00, -170px -38.6666666667px #91ff00, -189px -193.6666666667px #ff008c, 60px -231.6666666667px #ff4800, -167px -25.6666666667px #5e00ff, -25px -380.6666666667px #2bff00, 111px -355.6666666667px #00ffbf, -185px 74.3333333333px #00ff6a, -100px -408.6666666667px #ff1e00, 146px -220.6666666667px #00ff2f, -195px -282.6666666667px #ff007b, -158px -63.6666666667px #0051ff, -167px -381.6666666667px #ff6f00, 110px -242.6666666667px #ffea00, 16px -298.6666666667px #ff8400, -47px -158.6666666667px #ff6f00, -8px -60.6666666667px #ff006a, -144px -155.6666666667px #00ffbf, 15px -171.6666666667px #5900ff, 160px -352.6666666667px #ffcc00, 118px -160.6666666667px #00ff40, 116px -148.6666666667px #00ff4d, -198px -36.6666666667px #ff9100, -78px -263.6666666667px #00ff7b, -6px -177.6666666667px #ffb700, 120px -312.6666666667px #00ffa2, 43px -393.6666666667px #b7ff00, 61px 66.3333333333px #a6ff00, -12px 53.3333333333px #8c00ff, 193px -3.6666666667px #00fff2, -57px -328.6666666667px #ff2b00, 156px -107.6666666667px #8000ff, 74px -333.6666666667px #00ff4d, 21px -54.6666666667px #ff00e1, 32px -319.6666666667px #00fffb, 71px -269.6666666667px #a600ff, 49px -380.6666666667px #00f2ff, -50px 17.3333333333px #00b7ff, 106px 75.3333333333px #ff003c, 52px -92.6666666667px #ae00ff, 155px -95.6666666667px #84ff00, 28px -128.6666666667px #4800ff, -172px -145.6666666667px #00ff22, 53px -12.6666666667px #00ffbf, 177px -86.6666666667px #00ffd0, 153px -269.6666666667px #d500ff, 62px -170.6666666667px #5900ff, 23px -215.6666666667px #ffee00, 42px -252.6666666667px yellow, -249px -279.6666666667px #f200ff, 126px 26.3333333333px #ff00a6;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 236px -15.6666666667px #22ff00, -170px -38.6666666667px #91ff00, -189px -193.6666666667px #ff008c, 60px -231.6666666667px #ff4800, -167px -25.6666666667px #5e00ff, -25px -380.6666666667px #2bff00, 111px -355.6666666667px #00ffbf, -185px 74.3333333333px #00ff6a, -100px -408.6666666667px #ff1e00, 146px -220.6666666667px #00ff2f, -195px -282.6666666667px #ff007b, -158px -63.6666666667px #0051ff, -167px -381.6666666667px #ff6f00, 110px -242.6666666667px #ffea00, 16px -298.6666666667px #ff8400, -47px -158.6666666667px #ff6f00, -8px -60.6666666667px #ff006a, -144px -155.6666666667px #00ffbf, 15px -171.6666666667px #5900ff, 160px -352.6666666667px #ffcc00, 118px -160.6666666667px #00ff40, 116px -148.6666666667px #00ff4d, -198px -36.6666666667px #ff9100, -78px -263.6666666667px #00ff7b, -6px -177.6666666667px #ffb700, 120px -312.6666666667px #00ffa2, 43px -393.6666666667px #b7ff00, 61px 66.3333333333px #a6ff00, -12px 53.3333333333px #8c00ff, 193px -3.6666666667px #00fff2, -57px -328.6666666667px #ff2b00, 156px -107.6666666667px #8000ff, 74px -333.6666666667px #00ff4d, 21px -54.6666666667px #ff00e1, 32px -319.6666666667px #00fffb, 71px -269.6666666667px #a600ff, 49px -380.6666666667px #00f2ff, -50px 17.3333333333px #00b7ff, 106px 75.3333333333px #ff003c, 52px -92.6666666667px #ae00ff, 155px -95.6666666667px #84ff00, 28px -128.6666666667px #4800ff, -172px -145.6666666667px #00ff22, 53px -12.6666666667px #00ffbf, 177px -86.6666666667px #00ffd0, 153px -269.6666666667px #d500ff, 62px -170.6666666667px #5900ff, 23px -215.6666666667px #ffee00, 42px -252.6666666667px yellow, -249px -279.6666666667px #f200ff, 126px 26.3333333333px #ff00a6;
  }
}
@keyframes bang {
  to {
    box-shadow: 236px -15.6666666667px #22ff00, -170px -38.6666666667px #91ff00, -189px -193.6666666667px #ff008c, 60px -231.6666666667px #ff4800, -167px -25.6666666667px #5e00ff, -25px -380.6666666667px #2bff00, 111px -355.6666666667px #00ffbf, -185px 74.3333333333px #00ff6a, -100px -408.6666666667px #ff1e00, 146px -220.6666666667px #00ff2f, -195px -282.6666666667px #ff007b, -158px -63.6666666667px #0051ff, -167px -381.6666666667px #ff6f00, 110px -242.6666666667px #ffea00, 16px -298.6666666667px #ff8400, -47px -158.6666666667px #ff6f00, -8px -60.6666666667px #ff006a, -144px -155.6666666667px #00ffbf, 15px -171.6666666667px #5900ff, 160px -352.6666666667px #ffcc00, 118px -160.6666666667px #00ff40, 116px -148.6666666667px #00ff4d, -198px -36.6666666667px #ff9100, -78px -263.6666666667px #00ff7b, -6px -177.6666666667px #ffb700, 120px -312.6666666667px #00ffa2, 43px -393.6666666667px #b7ff00, 61px 66.3333333333px #a6ff00, -12px 53.3333333333px #8c00ff, 193px -3.6666666667px #00fff2, -57px -328.6666666667px #ff2b00, 156px -107.6666666667px #8000ff, 74px -333.6666666667px #00ff4d, 21px -54.6666666667px #ff00e1, 32px -319.6666666667px #00fffb, 71px -269.6666666667px #a600ff, 49px -380.6666666667px #00f2ff, -50px 17.3333333333px #00b7ff, 106px 75.3333333333px #ff003c, 52px -92.6666666667px #ae00ff, 155px -95.6666666667px #84ff00, 28px -128.6666666667px #4800ff, -172px -145.6666666667px #00ff22, 53px -12.6666666667px #00ffbf, 177px -86.6666666667px #00ffd0, 153px -269.6666666667px #d500ff, 62px -170.6666666667px #5900ff, 23px -215.6666666667px #ffee00, 42px -252.6666666667px yellow, -249px -279.6666666667px #f200ff, 126px 26.3333333333px #ff00a6;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
